/* ================== Media Queries ================== */

/* 01 Tablet (max-width: 991px) */

@media screen and (max-width: 991px) {
    h1{
        font-size: var(--font-size-14xl);
    }
    h2{
        font-size: var(--font-size-13xl);
    }
    h3 {
        font-size: var(--font-size-8xl);
    }
    h4 {
        font-size: var(--font-size-3xl);
    }
    h5{
        font-size: var(--font-size-2xl);
    }
    h6 {
        font-size: var(--font-size-lg);
    }
    button, a{
        font-size: var(--font-size-sm);
    }
    .navbar{
        position: relative;
    }
    .navbar-collapse{
        display: none;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding-top: 20px;
        background-color: var(--secondary); /* Ensure background is solid */
    }
    .nav-btn{
        display: block;
    }
    .navbar-action-container{
        justify-content: flex-end; /* Align phone/toggle to right */
    }
    .title-heading-banner{
        background-image: linear-gradient(90deg, #FF0000 0%, #0000FF 100%);
    }
    .about-img-layout{
        width: 100%;
    }
    .about-img{
        height: 100%;
    }
    .card-about{
        width: 400px;
    }
    .card-about .counter{
        font-size: var(--font-size-14xl);
    }
    .card-about .counter-detail{
        font-size: var(--font-size-8xl);
    }
    .about-title{
        width: 100%;
    }
    .navbar-icon-wrapper{
         /* display: none; Uncomment if you want to hide it, but usually standard mobile headers might keep it or use an icon */
         display: none; 
    }
    .banner-video-content{
        width: 100%;
    }
    .banner-video-content p{
        max-width: 48%;
        font-size: var(--font-size-sm);
    }
    .banner-content{
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .btn-title{
        padding: 17px 27px 17px 27px;
    }
    .icon-circle{
        width: 53px;
        height: 53px;
    }
    .logo-container{
        width: 45%;
    }
    .site-logo {
        max-width: 320px;
    }
    .service-recent{
        width: 50%;
    }
    .cta-service-banner{
        width: 50%;
    }
    .social-team-spacer{
        width: 40px;
        height: 40px;
    }
    .sub-heading span{
        font-size: var(--font-size-sm);
    }
    .pricing-container{
        flex-direction: row;
        width: 100%;
    }
    .expertise-title,
    .expertise-img-layout{
        width: 100%;
    }
    .card-expertise{
        width: 320px;
    }
    .card-expertise .counter{
        font-size: var(--font-size-14xl);
    }
    .card-expertise .counter-detail{
        font-size: var(--font-size-7xl);
    }
    .card-chooseus{
        width: 85%;
    }
    .card-chooseus:nth-child(even){
        align-self: end;
    }
    .card-chooseus-cta-wrapper{
        width: 320px;
    }
    .card-pricing-title{
        width: 50%;
    }
    .card-pricing{
        width: 50%;
    }
    .card-pricing.pricing-highlight{
        width: 100%;
    }
    .pricing-highlight-box{
        width: 50%;
    }
    .team-layout{
        padding: 30px 30px 0px 30px;
    }
    .banner-heading{
        flex-direction: column;
        gap: 100px;
    }
    .single-service-title-layout{
        width: 85%;
    }
    .guide-banner{
        padding: 250px 30px 30px 30px;
    }
    .guide-content{
        max-width: 100%;
    }
    .guide-video-container p{
        margin-bottom: 0;
        font-size: var(--font-size-sm);
        max-width: 20%;
    }
    .dropdown-item {
        padding: 15px 30px;
        font-weight: 500;
    }
    .logo{
        max-width: 125px;
    }
    .text-404{
        font-size: var(--font-size-16xl);
    }
    .layout-404 p{
        max-width: 60%;
    }
    .price-card-wrapper .price{
        font-size: var(--font-size-7xl);
    }
    .logo-footer{
        max-width: 20%;
    }
    .card-expertise .counter-detail{
        font-size: var(--font-size-12xl);
    }
    .chooseus-card-container{
        width: 100%;
        order: 2;
    }
    .chooseus-content-container{
        width: 100%;
        order: 1;
    }
    .contactus-content{
        width: 80%;
    }
    .card-case-studies{
        padding: 30px 30px 30px 30px;
    }
    .case-studies-content.local-business,
    .case-studies-content.saas-leads,
    .case-studies-content.ecommerce,
    .case-studies-content.startup-branding{
        width: 100%;
    }
    .cs-component a{
        font-size: var(--font-size-sm);
    }
    .service-details{
        padding: 0em 2em 0em 0em;
    }
    .number-box{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .heading-container{
        max-width: 70%;
    }
    .testimonial-title-container,
    .testimonial-reviewer-container{
        width: 100%;
    }
    .testimonial-reviewer{
        flex-direction: column;
    }
    .testimonial-rating-container{
        width: 50%;
    }
    .card-testimonial-reviewer .counter{
        font-size: var(--font-size-8xl);
    }
    .card-testimonial-reviewer p{
        font-size: var(--font-size-sm);
    }
    .price-card-wrapper .price{
        font-size: var(--font-size-9xl);
    }
    .tab-content{
        padding: 0.5em;
    }
    .input-container{
        width: 100%;
    }
    .sidebar-header .logo{
        width: 100%;
    }
    .social-team-container{
        width: 60px;
    }
    .social-team-container .social-item{
        width: 40px;
        height: 40px;
        font-size: var(--font-size-base);
    }
    .accordion .accordion-button{
        font-size: var(--font-size-2xl);
    }
    #newsletterForm{
        flex-direction: column;
        border-radius: 35px 35px 35px 35px;
        width: 100%;
    }
    .newsletter-layout{
        padding: 0px 30px 30px 30px;
        gap: 30px 30px;
    }
    .blog-link{
        font-size: var(--font-size-base);
    }
    .blog-link-post{
        font-size: var(--font-size-lg);
    }
    .footer-list a{
        font-size: var(--font-size-sm);
    }
    .contact-list li{
        font-size: var(--font-size-sm);
    }
}

/* 02 Mobile (max-width:: 767px) */

@media screen and (max-width: 767px){
    h1{
        font-size: var(--font-size-10xl);
    }
    h2{
        font-size: var(--font-size-9xl);
    }
    h3{
        font-size: var(--font-size-6xl);
    }
    h4{
        font-size: var(--font-size-2xl);
    }
    h5 {
        font-size: var(--font-size-xl);
    }
    h6{
        font-size: var(--font-size-base);
    }
    button, a{
        font-size: var(--font-size-xs);
    }
    p{
        font-size: var(--font-size-sm);
    }
    .logo-footer{
        max-width: 50%;
    }
    .navbar-wrapper{
        padding: 20px 20px 20px 20px;
    }
    .banner-video-content p{
        font-size: var(--font-size-xs);
        max-width: 100%;
    }
    .section-banner{
        padding: 0px 20px 0px 20px;
    }
    .banner-video-container{
        padding: 40px 20px 20px 20px;
        background-color: var(--secondary);
        min-height: 0;
        aspect-ratio: auto;
    }
    .banner-video-container::before{
        background-image: none;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    #banner-video-background {
        height: 100%;
        width: auto;
        aspect-ratio: 16/9;
        min-width: 100%;
        min-height: 100%;
    }

    .banner-heading{
        gap: 30px;
    }
    .section-guide{
        padding: 0px 20px 0px 20px;
    }
    .section-wrapper-digital-process{
        padding: 0px 20px 0px 20px;
    }
    .section-footer{
        padding: 0px 20px 20px 20px;
    }
    .card-pricing-title{
        width: 100%;
    }
    .card-pricing{
        width: 100%;
    }
    .sub-heading span{
        font-size: var(--font-size-xs);
    }
    .card-case-studies{
        padding: 30px 20px 30px 20px;
    }
    .chooseus-icon-layout{
        border-radius: 0px 0px 35px 35px;
    }
    .cs-component a{
        font-size: var(--font-size-xs);
    }
    .accordion .accordion-button{
        font-size: var(--font-size-xl);
    }
    .event-image{
        width: 100%;
    }
    .sidebar-overlay-avatar{
        width: 85%
    }
    .team-layout{
        padding: 30px 20px 0px 20px;
    }
    .pricing-container{
        flex-direction: column;
    }
    .social-team-container{
        width: 55px;
    }
    .text-404{
        font-size: var(--font-size-15xl);
    }
    .layout-404 p{
        max-width: 100%
    }
    .guide-video-container p{
        font-size: var(--font-size-xs);
        max-width: 40%;
    }
    .testimonial-reviewer{
        flex-direction: row;
        gap: 10px;
    }
    .testimonial-reviewer .avatar{
        width: 45px;
    }
    .card-testimonial-reviewer .counter{
        font-size: var(--font-size-6xl);
    }
    .card-testimonial-reviewer .counter-detail{
        font-size: var(--font-size-6xl);
    }
    .testimonial-rating-container{
        width: 100%;
    }
    .pricing-highlight-box{
        width: 100%;
        justify-content: space-between;
    }
    .about-img{
        height: 550px;
    }
    .card-about{
        width: 250px;
    }
    .card-about .counter{
        font-size: var(--font-size-10xl);
    }
    .card-about .counter-detail{
        font-size: var(--font-size-6xl);
    }
    .section404{
        width: 100%;
    }
    .card-expertise.card-expertise-counter{
        width: 100%;
    }
    .card-expertise .counter{
        font-size: var(--font-size-10xl);
    }
    .card-expertise .counter-detail{
        font-size: var(--font-size-6xl);
    }
    .expertise-list{
        width: 100%;
    }
    .card-expertise{
        width: 250px;
    }
    .card-chooseus{
        flex-direction: column;
        width: 100%;
    }
    .card-chooseus-cta-wrapper{
        width: 250px;
    }
    .chooseus-icon-wrapper{
        flex-direction: row;
        min-height: 0;
        width: 100%;
    }
    .chooseus-spacer.above {
        border-radius: 0px 25px 0px 0px;
        box-shadow: 10px -10px 0px 0px var(--secondary);
    }
    .about-wrapper{
        padding: 20px 0px 0px 0px;
    }
    .banner-icon-container{
        width: 100%;
    }
    .digital-process-card{
        flex-direction: column;
    }
    .step-spacer{
        width: 200px;
        height: 3px;
    }
    .form-card{
        padding: 1em 1em 1em 1em;
    }
    .form-button-container{
        width: 100%;
        justify-content: stretch;
    }
    .form-button-container .btn{
        width: 100%;
    }
    .logo-container{
        width: 100%;
    }
    .site-logo {
        max-width: 250px;
    }
    .heading-container{
        max-width: 100%;
    }
    .heading-container-wide{
        max-width: 100%;
    }
    .blog-link{
        font-size: var(--font-size-sm);
    }
    .blog-link-post{
        font-size: var(--font-size-base);
    }
    .blog-image{
        height: 180px;
    }
    .service-recent,
    .cta-service-banner{
        width: 100%;
    }
    .single-service-title-layout{
        width: 74%;
    }
    .case-studies-component.large,
    .case-studies-component.small{
        width: 100%;
    }
    .btn-title{
        padding: 15px 25px 15px 25px;
    }
    .icon-circle{
        width: 46px;
        height: 46px;
    }
    .service-details{
        padding: 0em 0em 2em 0em;
    }
    .footer-logo-container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-quick-links{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-services-container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-contact-container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-list li{
        justify-content: center;
        text-align: center;
    }
    .footer-list a{
        font-size: var(--font-size-xs);
    }
    .contact-list li{
        justify-content: center;
        font-size: var(--font-size-xs);
    }
    .copyright-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copyright,
    .legal-link{
        font-size: var(--font-size-xs);
    }
}

/* 03. Mobile Spacing (≥768px) */

@media screen and (min-width: 767px){

    /* Flex spacing (gap) */

    .gspace-sm-0 { 
        gap: 0px 0px; 
    }
    .gspace-sm-1 { 
        gap: 10px 10px; 
    }
    .gspace-sm-2 { 
        gap: 20px 20px; 
    }
    .gspace-sm-3 { 
        gap: 30px 30px; 
    }
    .gspace-sm-4 { 
        gap: 40px 40px; 
    }
    .gspace-sm-5 { 
        gap: 50px 50px; 
    }

    /* Grid spacing (column-gap) */

    .gspace-x-sm-0 { 
        column-gap: 0px; 
    }
    .gspace-x-sm-0 { 
        column-gap: 0px; 
    }
    .gspace-x-sm-1 { 
        column-gap: 10px; 
    }
    .gspace-x-sm-2 { 
        column-gap: 20px; 
    }
    .gspace-x-sm-3 { 
        column-gap: 30px; 
    }
    .gspace-x-sm-4 { 
        column-gap: 40px; 
    }
    .gspace-x-sm-5 { 
        column-gap: 50px; 
    }

    /* Grid spacing (row-gap) */

    .gspace-y-sm-0 { 
        row-gap: 0px; 
    }
    .gspace-y-sm-1 { 
        row-gap: 10px; 
    }
    .gspace-y-sm-2 { 
        row-gap: 20px; 
    }
    .gspace-y-sm-3 { 
        row-gap: 30px; 
    }
    .gspace-y-sm-4 { 
        row-gap: 40px; 
    }
    .gspace-y-sm-5 { 
        row-gap: 50px; 
    }

    /* Grid spacing (row-gap & column-gap) */

    .grid-spacer-sm-1 { 
        --bs-gutter-x: 10px; 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-sm-2 { 
        --bs-gutter-x: 20px; 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-sm-3 { 
        --bs-gutter-x: 30px; 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-sm-4 { 
        --bs-gutter-x: 40px; 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-sm-5 { 
        --bs-gutter-x: 50px; 
        --bs-gutter-y: 50px; 
    }

    /* Grid spacing (column-gap) */

    .grid-spacer-x-sm-0 { 
        --bs-gutter-x: 0px; 
    }
    .grid-spacer-x-sm-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-sm-2 { 
        --bs-gutter-x: 20px; 
    }
    .grid-spacer-x-sm-3 { 
        --bs-gutter-x: 30px; 
    }
    .grid-spacer-x-sm-4 { 
        --bs-gutter-x: 40px; 
    }

    /* Grid spacing (row-gap) */

    .grid-spacer-y-sm-0 { 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-y-sm-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-sm-2 { 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-y-sm-3 { 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-y-sm-4 { 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-y-sm-5 { 
        --bs-gutter-y: 50px; 
    }
}

/* 04. Tablet Spacing (≥1024px) */

@media screen and (min-width: 992px) {
    /* Flex spacing (gap) */
    .gspace-md-0 { 
        gap: 0px 0px; 
    }
    .gspace-md-1 { 
        gap: 10px 10px; 
    }
    .gspace-md-2 { 
        gap: 20px 20px; 
    }
    .gspace-md-3 { 
        gap: 30px 30px; 
    }
    .gspace-md-4 { 
        gap: 40px 40px; 
    }
    .gspace-md-5 { 
        gap: 50px 50px; 
    }

    /* Grid spacing (column-gap) */

    .gspace-x-md-0 { 
        column-gap: 0px;
    }
    .gspace-x-md-1 { 
        column-gap: 10px; 
    }
    .gspace-x-md-2 {
         column-gap: 20px; 
    }
    .gspace-x-md-3 { 
        column-gap: 30px; 
    }
    .gspace-x-md-4 { 
        column-gap: 40px; 
    }
    .gspace-x-md-5 { 
        column-gap: 50px; 
    }

    /* Grid spacing (row-gap) */

    .gspace-y-md-0 { 
        row-gap: 0px; 
    }
    .gspace-y-md-1 { 
        row-gap: 10px; 
    }
    .gspace-y-md-2 { 
        row-gap: 20px; 
    }
    .gspace-y-md-3 { 
        row-gap: 30px; 
    }
    .gspace-y-md-4 { 
        row-gap: 40px; 
    }
    .gspace-y-md-5 { 
        row-gap: 50px; 
    }

    /* Grid spacing (row-gap & column-gap) */

    .grid-spacer-md-0 { 
        --bs-gutter-x: 0px; 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-md-1 { 
        --bs-gutter-x: 10px; 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-md-2 { 
        --bs-gutter-x: 20px; 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-md-3 { 
        --bs-gutter-x: 30px; 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-md-4 { 
        --bs-gutter-x: 40px; 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-md-5 { 
        --bs-gutter-x: 50px; 
        --bs-gutter-y: 50px; 
    }

    /* Grid spacing (column-gap) */

    .grid-spacer-x-md-0 { 
        --bs-gutter-x: 0px; 
    }
    .grid-spacer-x-md-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-md-1 { 
        --bs-gutter-x: 10px; 
    }
    .grid-spacer-x-md-2 { 
        --bs-gutter-x: 20px;
    }
    .grid-spacer-x-md-3 { 
        --bs-gutter-x: 30px; 
    }
    .grid-spacer-x-md-4 { 
        --bs-gutter-x: 40px; 
    }
    .grid-spacer-x-md-5 { 
        --bs-gutter-x: 50px; 
    }

    /* Grid spacing (row-gap) */

    .grid-spacer-y-md-0 { 
        --bs-gutter-y: 0px; 
    }
    .grid-spacer-y-md-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-md-1 { 
        --bs-gutter-y: 10px; 
    }
    .grid-spacer-y-md-2 { 
        --bs-gutter-y: 20px; 
    }
    .grid-spacer-y-md-3 { 
        --bs-gutter-y: 30px; 
    }
    .grid-spacer-y-md-4 { 
        --bs-gutter-y: 40px; 
    }
    .grid-spacer-y-md-5 { 
        --bs-gutter-y: 50px; 
    }
}